
:root{
    --MainColor: #211C2C;
    --MainColorDark: #1a181f;
    --DarkAccent1: #605B68;
    --DarkAccent2: #292631;
    --BrightAccent1:#483C5F;
    --BrightAccent2: #6E5B93;
    --Gainsboro:#CCDBDC;
    --MaizeCrayola:#FAC748;
    --DodgerBlue:#0496FF;
    --Ruby:#D81159;
    --OuterSpaceCrayola:#263D42;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    color: black;
    padding: 0px;
    margin: 0px;
    height:100%;
}

.todoApp{
    display: grid;
    grid-template-columns: minmax(auto, 250px) 1fr;
    height:100%;
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color: var(--DarkAccent2);
    display: flex;
    flex-direction: column;
    color: var(--DarkAccent1);
    font-weight: 600;
    border-right: 1px solid  var(--MainColor);
    
}

.sidebar>p{
    padding-left: 10px;
}


.sidebar>button{
    padding: 15px 10px;
    color: var(--DarkAccent1);
    background-color: var(--DarkAccent2);
    border: none;
    font-size: 16px;
    margin-right: 15px;
    font-weight: 500;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar>button>img{
    height: 20px;
}

.selected{
    background-color: slateblue;
    background-image: linear-gradient(270deg, slateblue 30%, #7548c9 100%) !important;
    color: whitesmoke !important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sidebar >p:last-child{
    color: slateblue !important;
    text-align: center;
}

.main{
    width: 100%;
    background-color: var(--MainColorDark);
}

.logo{
    padding: 20px 30px;
    color: whitesmoke;
    font-size: 35px;
    
}

.logo >img{
    height: 25px;
}

.header{
    height: 100px;
    background-color: var(--DarkAccent2);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid  var(--MainColor);
}

.headerText{
    color: whitesmoke;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .headerText { display: none; }
  }

.headerButton{
    border: none;
    background-color: slateblue;
    background-image: linear-gradient(270deg, slateblue 30%, #7548c9 100%) !important;
    color: whitesmoke;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 15px;
    gap: 20px;
    color: var(--DarkAccent1);
}

.columnName{
    align-items: center;
    display: flex;
    
}

#purplecircle {
    background: seagreen;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: 2px;
}

#yellowcircle {
    background: var(--MaizeCrayola);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: 2px;
}

#bluecircle {
    background: var(--DodgerBlue);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: 2px;
}

.todoItem{
    background-color: var(--DarkAccent2);
    padding: 25px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.todoItem:hover{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.432);
}

.todoTitle{
    color: whitesmoke;
    margin-bottom: 10px;
}